<h1>Welcome <%= @therapist.first_name + " " + @therapist.last_name %>!!!</h1>


<% if @therapist.appointments.empty? %>
    <h4>You currently don't have any appointments scheduled!</h4>
<% else %>
    <% @therapist.appointments.each do |appt| %>
        -<a href="/therapist/#{@therapist.id}/appointments"> <%= appt.date %><%= appt.time %><%= appt.appointment_type %> </a><br>
    <% end %>
<% end %>